@page
@model Projekt.Pages.Report.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <form method="post">
        <button type="submit" id="button2" class="button inner" asp-page-handler="Reject" name="id" value="@Model.Animals.Id"><span>Odrzuć </span></button>
    </form>
</div>
