@page
@model CancelResponsibilityModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">


 <h1>Anulowanie rezerwacji obowiązku</h1>
 
<h3>Czy na pewno chcesz anulować rezerwację danego obowiązku?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Start
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.JobStartDate)
        </dd>
        <dt class="col-sm-2">
            Koniec
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.JobEndDate)
        </dd>
        <dt class="col-sm-2">
            Obowiązek
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.Responsibility)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Job.Id" />
        <input type="submit" value="Tak" class="btn btn-danger" /> 
        <a asp-page="./WorkerResponsibilities"><button type="button" class="btn btn-secondary">Wróć</button> </a>
    </form>
</div>