@page
@model Projekt.Pages.WorkScheduleModel
@{
}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">

<style>
    table, th, td {
      border:1px solid black;
      width: 5px;
    }
    h2{
        font-size: 25px;
        margin: 20px 0px;
    }
    h3{
        font-size: 20px;
        margin: 20px 0px;
        font-family: 'Space Mono', monospace;
    }
    h5{
        font-size: 15px;
    }
    .summary{
        margin: 20px 0px;
        font-family: 'Space Mono', monospace;
    }
</style>

<div class="description">
    <h2>Rozkład obowiązków na obecny tydzień</h2>
    <h3>Zapraszamy do zapisywania się na wolne terminy :)</h3>
</div>

<div class="text-center">
    <table style="width:100%">
        <tr>
            <th>Rozkład godzin</th>
            <th>Poniedziałek</th>
            <th>Wtorek</th>
            <th>Środa</th>
            <th>Czwartek</th>
            <th>Piątek</th>
            <th>Sobota</th>
            <th>Niedziela</th>
        </tr>
        <tr>
            <td><b>8.00-10.00</b></td>
            <td>Walenie tematu nr.1</td>
            <td>Głaskanie psów</td>
            <td>Walenie tematu nr.2</td>
            <td>Głaskanie psów</td>
            <td>Walenie tematu nr.3</td>
            <td>Głaskanie psów</td>
            <td>francesinha (tost kiełbasa kotlet boczek parówki jakieś smażone mięso ser tost jajko sadzone - frytki i wszystko ratuje tłusty sos)</td>
        </tr>
        <tr>
            <td><b>10.00-12.00</b></td>
            <td>Walenie tematu nr.1</td>
            <td>Głaskanie psów</td>
            <td>Walenie tematu nr.2</td>
            <td>Głaskanie psów</td>
            <td>Walenie tematu nr.3</td>
            <td>Głaskanie psów</td>
            <td>francesinha (tost kiełbasa kotlet boczek parówki jakieś smażone mięso ser tost jajko sadzone - frytki i wszystko ratuje tłusty sos)</td>
        </tr>
        <tr>
            <td><b>12.00-14.00</b></td>
            <td>Walenie tematu nr.1</td>
            <td>Głaskanie psów</td>
            <td>Walenie tematu nr.2</td>
            <td>Głaskanie psów</td>
            <td>Walenie tematu nr.3</td>
            <td>Głaskanie psów</td>
            <td>francesinha (tost kiełbasa kotlet boczek parówki jakieś smażone mięso ser tost jajko sadzone - frytki i wszystko ratuje tłusty sos)</td>
        </tr>
        <tr>
            <td><b>14.00-16.00</b></td>
            <td>Walenie tematu nr.1</td>
            <td>Głaskanie psów</td>
            <td>Walenie tematu nr.2</td>
            <td>Głaskanie psów</td>
            <td>Walenie tematu nr.3</td>
            <td>Głaskanie psów</td>
            <td>francesinha (tost kiełbasa kotlet boczek parówki jakieś smażone mięso ser tost jajko sadzone - frytki i wszystko ratuje tłusty sos)</td>
        </tr>
        <tr>
            <td><b>16.00-18.00</b></td>
            <td>Walenie tematu nr.1</td>
            <td>Głaskanie psów</td>
            <td>Walenie tematu nr.2</td>
            <td>Głaskanie psów</td>
            <td>Walenie tematu nr.3</td>
            <td>Głaskanie psów</td>
            <td>francesinha (tost kiełbasa kotlet boczek parówki jakieś smażone mięso ser tost jajko sadzone - frytki i wszystko ratuje tłusty sos)</td>
        </tr>
    </table>
</div>
<div class="summary">
    <h5>Zapisy nie są odświeżane na bieżąco</h5>
    <h5>Wszystkie zgłoszenia wpierw muszą zostać rozpatrzone przez administratora</h5>
</div>

