@page
@model Projekt.Pages.Email.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Letterbox</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Letterbox.Title" class="control-label"></label>
                <input asp-for="Letterbox.Title" class="form-control" />
                <span asp-validation-for="Letterbox.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Letterbox.Content" class="control-label"></label>
                <input asp-for="Letterbox.Content" class="form-control" />
                <span asp-validation-for="Letterbox.Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Letterbox.MailDate" class="control-label"></label>
                <input asp-for="Letterbox.MailDate" class="form-control" />
                <span asp-validation-for="Letterbox.MailDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Letterbox.SenderId" class="control-label"></label>
                <input asp-for="Letterbox.SenderId" class="form-control" />
                <span asp-validation-for="Letterbox.SenderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Letterbox.ReceiverId" class="control-label"></label>
                <input asp-for="Letterbox.ReceiverId" class="form-control" />
                <span asp-validation-for="Letterbox.ReceiverId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
