@page
@model Projekt.Pages.Email.IndexModel

@{
    ViewData["Title"] = "Index";
}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">

<style>
    a {
        color: inherit; /* blue colors for links too */
        text-decoration: inherit; /* no underline */
    }

    .font-style {
        font-family: 'Space Mono', monospace;
    }

    p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 200px;
    }
</style>

<div class="font-style">
    <h1>Skrzynka odbiorcza</h1>

    <br />
    <div>
        <a asp-page="./SendEmail">
            <h6>Utwórz wiadomość <img src="MailIcon.png" width="32" height="32" /></h6>
        </a>
    </div>

    <div>
        <a asp-page="./YourEmails">
            <h6>Wysłane wiadomości <img src="MailIcon2.png" width="32" height="32" /></h6>
        </a>
    </div>


    <br />
    <h4>Nowe wiadomości</h4>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Od:
                </th>
                <th>
                    Tytuł:
                </th>
                <th>
                    Data odbioru:
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Letterbox)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SenderId)
                    </td>
                    <td>
                        <a asp-page="./Details" asp-route-id="@item.Id">
                            <p>@item.Title</p>
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MailDate)
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>

